<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>All Posts</title>
  </head>
  <body>
    <div class="container">
      <h2>All Posts</h2>

      <form action="/add" method="get">
        <button type="submit">Add post</button>
      </form>

      <form action="/login" method="get">
        <button type="submit">Login</button>
      </form>

      <form action="/signup" method="get">
        <button type="submit">Sign Up</button>
      </form>

      <div th:if="${!posts.empty}">
        <ul>
          <li th:each="post : ${posts}">
            <td th:text="${post.title}"></td>
            <td th:text="${post.content}"></td>
            <td
              th:text="${post.user != null ? post.user.username : 'Unknown Author'}"
            ></td>
            <a
              th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
              th:href="@{/edit/{id}(id=${post.id})}"
              >Edit</a
            >
            <a
              th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
              th:href="@{/delete/{id}(id=${post.id})}"
              >Delete</a
            >
          </li>
        </ul>
      </div>
      <div th:if="${posts.empty}">
        <p>No posts available.</p>
      </div>
    </div>
  </body>
</html>
