<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>All Posts</title>
  </head>
  <body>
    <div class="container">
      <h2>All Posts</h2>

      <form action="/add" method="get">
        <button type="submit">Add post</button>
      </form>

      <div sec:authorize="!isAuthenticated()">
        <a href="http://localhost:8080/login">
          <button>Kirjaudu sisään</button>
        </a>
      </div>
      <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Kirjaudu ulos" />
        </form>
      </div>

      <div sec:authorize="!isAuthenticated()">
        <a href="http://localhost:8080/signup">
          <button>Signup</button>
        </a>
      </div>

      <div th:if="${!posts.empty}">
        <ul>
          <li th:each="post : ${posts}">
            <td th:text="${post.title}"></td>
            <td th:text="${post.content}"></td>
            <a
              th:href="@{/user/{username}(username=${post.user.username})}"
              th:text="${post.user.username}"
            ></a>
            <a
              th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
              th:href="@{/edit/{id}(id=${post.id})}"
              >Edit</a
            >
            <a
              th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
              th:href="@{/delete/{id}(id=${post.id})}"
              >Delete</a
            >
          </li>
        </ul>
      </div>
      <div th:if="${posts.empty}">
        <p>No posts available.</p>
      </div>
    </div>
  </body>
</html>
